<body>
  <div class="container-fluid mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to the Loan Application Portal</h1>
      <p class="lead">Get started on your journey to financial support!</p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="footer mt-5 text-green">
    <div class="row mt-6">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 Loan Application Portal</p>
          <p>Created by Viral</p>
        </div>
      </div>
  </footer>
</body>
